[Unit]  
Description=vzhucloud monitor collector  
After=monitor
   
[Service]  
Type=forking  
ExecStart=/bin/sh INSTALL_DIR/collector/bin/collector.sh start
ExecReload=/bin/sh INSTALL_DIR/collector/bin/collector.sh restart
ExecStop=/bin/sh INSTALL_DIR/collector/bin/collector.sh stop
PrivateTmp=true  
   
[Install]  
WantedBy=multi-user.target  
